<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.remoteattendancemonitoringsystem">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RemoteAttendanceMonitoringSystem"
        tools:targetApi="31">
        <activity
            android:name=".ConfigAccScreen"
            android:exported="false" />
        <activity
            android:name=".SettingScreen"
            android:exported="false" />
        <activity
            android:name=".ViewAttendanceScreen"
            android:exported="false" />
        <activity
            android:name=".AttendanceScreen"
            android:exported="false" />
        <activity
            android:name=".DashboardScreen"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>